<html>
<head>
	<title>MyVideoSite</title>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-vlOMx0hKjUCl4WzuhIhSNZSm2yQCaf0mOU1hEDK/iztH3gU4v5NMmJln9273A6Jz" crossorigin="anonymous">

</head>


<body>
	 <header>
    	<div class="container">
					<a href="/"><h1 id="vd">MyVideoSite</h1></a>
				</div>
    </header>


