    <nav>
    		<div class="container">

				

			
                    <div class="LoginData">
					<button class="button" id="Back"><a href="/back">Back</a></button>
					<button class="button" id="Log out"><a href="/logout">Log out</a></button>
					
				</div>

		
			</div>
			</nav>
<div class="container" id="WhiteBackground">